#ifndef SECRETS_H
#define SECRETS_H

// Wi-Fi Credentials
#define WIFI_SSID "YourSSID"
#define WIFI_PASSWORD "YourPassword"

// MQTT Configuration
#define MQTT_BROKER_URI "mqtt://<k8s-ingress-or-nlb-ip>:1883"

#endif // SECRETS_H
